<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/css/style.css' /> -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <!--<link rel="stylesheet" href="/css/markdown.css">-->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/blog.css" />
    <script src="js/jquery.js"></script>
    <script src="js/markdown.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
<div style="text-align: center; padding: 5px; padding-bottom: 10px; background-color: black;">
    <a style="text-decoration: none;" id="index-title" onclick="showLoginModal()">
        <h1 style="font-family: Arial; color: #E0E0E0; font-weight: 900; margin: 0px;">CRAZY_MAD'S BLOG</h1>
    </a>
</div>
<div class="container-fluid" style="height: 100%; width: 100%;">
    <div class="row">
        <div class="col-xs-3" style="">
            <div class="item-1" style="" id="category-list">
            </div>
        </div>
        <div class="col-xs-6" style="">
            <div class="item-1" style="">
                <ul class="pagination" id="page-index-top" style="margin: 0;">
                </ul>
                <div id="item-border"></div>
                <ul class="pagination" id="page-index-bottom" style="margin: 0;">
                </ul>
            </div>
        </div>
        <div class="col-xs-3" style="" id="right">
            <div class="item-1" style="">
                <div style="text-align: center;">
                    <div class="head-div" style="margin: auto;"></div>
                    <div id="brief" style="padding: 10px; margin-top: 10px;">
                        <h3 style="margin: 0px; margin-top: 10px;">CRAZY_MAD</h3>
                        就学于东南沿海某抠脚二本大学<br />
                        C++/C,JAVA,JS,PYTHON,PHP,C#...<br/ >
                        都不精通&nbsp;&nbsp;_(:3 」∠)_
                    </div>
                </div>
                <div style="position: relative">
                    <img src="/images/tick.png" style="width: 100%; position: absolute; top: 0px; left: 0px;"/>
                    <div id="tick-text">
                        学习是为了啥，还不是为了吃喝玩乐？
                        <div style="text-align: right">
                            —— CRAZY_MAD
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer" style="padding-top: 10px; text-align: center; background-color: #383733; height: 80px; width: 100%;">
    <p style="color: #BAB7AA; font-weight: 600;">
    Copyright &copy; 2016-2017 by crazymad<br/>
    mail: crazy_mad01@163.com or 2116913961@qq.com<br/>
    NBUT CS-154
    </p>
</div>
<div id="login-modal" class="c_modal">
    <h2 style="text-align: center; font-weight: bold; color: #38B2B2; text-shadow: 0px 0px 1px #38B2B2;">登录</h2>
    <hr style="margin-top: 10px; margin-bottom: 10px; background-color: #464646;"/>
    <div style="padding: 10px 30px 10px 30px; margin-top: 50px;" class="input-group">
        <span class="input-group-addon">账号</span>
        <input type="text" class="form-control" id="account"/>
    </div>
    <div style="padding: 10px 30px 10px 30px;" class="input-group">
        <span class="input-group-addon">密码</span>
        <input type="password" class="form-control" id="password"/>
    </div>
    <div style="padding: 10px 30px 10px 30px; float: right;" class="input-group">
        <input type="submit" class="btn btn-primary" value="提交" onclick="login()">&nbsp;
        <input type="submit" class="btn btn-default" value="取消" onclick="closeLoginModal()">
    </div>
    <div style="clear: both;"></div>
    <a target="blank" href="/register" style="margin-left: 30px;">没有账号，可以注册一个试试</a>
</div>
<div id="login-modal-back" class="c_modal_back" onclick="closeLoginModal()">
</div>
</body>
</html>
